# House Price Estimation
## Gradient Boosting
- Ensemble of decision trees
- Predicts values
- Decision trees are models with branching decision points
- Creating large decision trees can overfit data
- Better approach is to create lots of simple decision trees and combine them at the end
- Instead of creating independent trees, boosting creates trees that build on each other in areas it previously didn't do as well.

In [94]:
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
import pandas as pd

In [95]:
df = pd.read_csv("../data/ml_house_data_set.csv")
print(df.dtypes)
df

year_built               int64
stories                  int64
num_bedrooms             int64
full_bathrooms           int64
half_bathrooms           int64
livable_sqft             int64
total_sqft               int64
garage_type             object
garage_sqft              int64
carport_sqft             int64
has_fireplace             bool
has_pool                  bool
has_central_heating       bool
has_central_cooling       bool
house_number             int64
street_name             object
unit_number            float64
city                    object
zip_code                 int64
sale_price             float64
dtype: object

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_type,garage_sqft,carport_sqft,has_fireplace,has_pool,has_central_heating,has_central_cooling,house_number,street_name,unit_number,city,zip_code,sale_price
0,1978,1,4,1,1,1689,1859,attached,508,0,True,False,True,True,42670,Lopez Crossing,NaN,Hallfort,10907,270897.0
1,1958,1,3,1,1,1984,2002,attached,462,0,True,False,True,True,5194,Gardner Park,NaN,Hallfort,10907,302404.0
2,2002,1,3,2,0,1581,1578,none,0,625,False,False,True,True,4366,Harding Islands,NaN,Lake Christinaport,11203,2519996.0
3,2004,1,4,2,0,1829,2277,attached,479,0,True,False,True,True,3302,Michelle Highway,NaN,Lake Christinaport,11203,197193.0
4,2006,1,4,2,0,1580,1749,attached,430,0,True,False,True,True,582,Jacob Cape,NaN,Lake Christinaport,11203,207897.0
5,2005,1,3,2,0,1621,1672,attached,430,0,True,False,True,True,78445,Michelle Highway,NaN,Lake Christinaport,11203,196559.0
6,1979,1,3,2,1,2285,2365,detached,532,0,True,False,True,True,246,Harris Estates,NaN,Morrisport,10924,434697.0
7,1958,1,5,2,0,1745,1741,none,0,0,False,False,False,False,35725,Jessica Isle,NaN,Lake Christinaport,11203,64887.0
8,1958,1,5,2,0,1747,1745,none,0,0,False,False,False,False,35725,Jessica Isle,NaN,Lake Christinaport,11203,143636.0
9,1961,1,1,1,0,998,1161,none,0,242,False,False,False,False,73327,Kurt Crescent,NaN,Lake Christinaport,11203,81896.0
10,2005,1,4,4,0,2020,2254,attached,502,0,True,False,True,True,3522,Dana Bridge,NaN,Lake Christinaport,11203,308701.0
11,2006,1,4,2,1,2517,2679,attached,624,0,True,False,True,True,1956,Perez Mount,NaN,Lake Christinaport,11203,333904.0
12,2003,1,3,1,1,1835,2000,attached,428,0,True,False,True,True,829,Candice Skyway,NaN,Lake Christinaport,11203,277197.0
13,2004,1,4,2,1,2112,2197,attached,397,0,True,True,True,True,55409,Wright Mills,NaN,Lake Christinaport,11203,351537.0
14,2007,1,3,3,0,2174,2426,attached,508,0,True,False,True,True,867,Reyes Radial,NaN,Lake Christinaport,11203,274681.0
15,2007,1,3,3,0,2169,2434,attached,509,0,True,False,True,True,719,James Motorway,NaN,Lake Christinaport,11203,289801.0
16,1993,1,3,2,0,1646,1648,attached,402,0,True,True,True,True,760,Chris Vista,NaN,Lake Christinaport,11203,225538.0
17,1973,1,2,1,0,835,865,none,0,0,False,False,True,True,45691,Steven Hollow,1063.0,Lake Christinaport,11203,56698.0
18,1989,1,3,2,0,2191,2188,attached,469,0,True,False,True,True,96285,James Isle,NaN,Lake Christinaport,11203,277197.0
19,1972,1,2,1,1,1837,2460,attached,504,0,True,False,True,True,70518,Charles Plain,NaN,Lake Christinaport,11203,144901.0
20,1990,1,2,2,0,1689,2193,attached,503,0,True,True,True,True,99496,Baldwin Centers,NaN,Lake Christinaport,11203,204746.0
21,2003,1,3,2,0,2053,2460,attached,753,0,True,False,True,True,2923,Steven Hollow,NaN,Lake Christinaport,11549,281614.0
22,1992,1,3,1,1,1636,2330,attached,482,0,True,False,True,True,50223,Warner Underpass,NaN,Lake Christinaport,11203,233103.0
23,1979,1,3,2,1,1908,1912,attached,397,0,True,False,True,True,9025,Kristen Inlet,NaN,Lake Christinaport,11203,239396.0
24,2007,1,2,2,0,1311,1694,detached,206,0,True,False,True,True,397,Cox Way,NaN,West Ann,10748,311217.0
25,2005,1,3,3,0,1703,2111,none,0,0,True,False,True,True,819,Chapman Crescent,NaN,West Ann,10748,434697.0
26,2000,2,2,3,0,1670,1830,none,0,0,True,False,True,True,313,Jacob Spring,NaN,West Ann,10748,1140298.0
27,2005,1,5,5,0,5478,7433,attached,1118,0,True,True,True,True,3723,Williams Vista,NaN,Richardport,11619,3213004.0
28,2003,1,3,2,1,4078,5034,detached,925,0,True,True,True,True,967,Anthony Crest,NaN,West Ann,10748,1354501.0
29,1986,1,2,2,0,1390,1642,detached,466,0,True,False,True,True,155,Robin Passage,NaN,West Ann,10748,491401.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42673,1990,1,4,2,0,1633,1702,attached,432,0,True,False,True,True,34506,Jonathan Cove,NaN,East Amychester,11205,313743.0
42674,1990,1,4,2,0,1689,1686,attached,538,0,True,False,True,True,17292,Brian Bypass,NaN,East Amychester,11205,333903.0
42675,2000,1,3,2,0,1651,1659,attached,401,0,True,True,True,True,956,Amanda Key,NaN,East Amychester,11205,338940.0
42676,1988,1,3,2,0,1282,1359,attached,459,0,False,False,True,True,7389,Nelson Course,NaN,East Amychester,11205,189004.0
42677,1985,1,2,2,0,1011,1225,attached,437,0,False,True,True,True,5979,Perez Unions,NaN,East Amychester,11205,226796.0
42678,2002,1,4,2,1,1969,1975,attached,756,0,False,False,True,True,60389,Perez Unions,NaN,East Amychester,11205,212944.0
42679,1995,1,4,2,0,1875,1869,attached,452,0,True,False,True,True,420,Brian Track,NaN,East Amychester,11205,340201.0
42680,2008,1,2,2,0,2287,2368,attached,429,0,True,False,True,True,81356,Kelley Estate,NaN,Lake Jack,10825,428403.0
42681,2009,1,2,2,0,2754,2801,attached,444,0,True,False,True,True,5100,Yesenia Centers,NaN,Lake Jack,10825,516604.0
42682,2008,2,2,2,0,1349,1342,attached,307,0,False,False,True,True,15192,Julie Stravenue,NaN,Lake Jack,10825,307443.0
42683,2008,2,2,2,0,1390,1794,attached,329,0,False,True,True,True,804,Sharon Views,NaN,Lake Jack,10825,384302.0
42684,2007,2,2,2,1,1311,1303,attached,347,0,False,False,True,True,9805,Sharon Views,NaN,Lake Jack,10825,308703.0
42685,2006,1,2,2,0,2101,2364,attached,418,0,True,False,True,True,12451,Johnson Mountain,NaN,Lake Jack,10825,441003.0
42686,2015,1,4,3,0,2507,2543,attached,590,0,True,True,True,True,4169,Amy Ville,NaN,Lake Jack,10825,729544.0
42687,2015,1,3,2,1,1908,1941,attached,409,0,True,False,True,True,40257,Amy Ville,NaN,Lake Jack,10825,510304.0
42688,2015,1,3,2,1,1907,1935,attached,402,0,True,False,True,True,84083,Amy Ville,NaN,Lake Jack,10825,507783.0
42689,2005,1,3,1,1,1631,1918,attached,430,0,True,False,True,True,611,Carolyn Fall,NaN,Lake Jack,10825,409502.0
42690,2006,1,3,1,1,1414,1703,attached,422,0,True,True,True,True,6672,Alexis Mission,NaN,Lake Jack,10825,364141.0
42691,2007,1,4,2,1,2520,2671,attached,436,0,True,False,True,True,50348,Matthew Hill,NaN,Lake Jack,10825,510303.0
42692,2006,1,2,2,1,2830,3021,attached,439,0,True,False,True,True,23741,Hill Stream,NaN,Lake Jack,10825,466197.0
42693,2006,1,4,2,1,2103,2109,attached,401,0,True,True,True,True,9426,Walker Orchard,NaN,Lake Jack,10825,636302.0
42694,2004,1,4,2,1,2513,2676,attached,622,0,True,False,True,True,265,Phillips Underpass,NaN,Lake Jack,10825,436587.0
42695,2003,1,3,1,1,1833,2007,attached,422,0,True,False,True,True,51756,Jennifer Corner,NaN,Lake Jack,10825,315003.0
42696,2005,1,3,1,1,1627,2101,attached,426,0,True,False,True,True,21014,Smith Cliff,NaN,Lake Jack,10825,367922.0
42697,1962,1,3,2,0,1627,1620,attached,398,0,False,False,True,True,61999,Powell Lake,NaN,Lake Jack,10825,176404.0
42698,1982,1,1,1,0,591,627,none,0,200,False,False,True,True,562,Gregory Ford,253.0,Lake Jack,10825,88197.0
42699,1983,1,1,1,0,592,624,none,0,204,False,False,True,True,62028,Gregory Ford,3560.0,Lake Jack,10825,102690.0
42700,1983,1,1,1,0,594,618,none,0,197,False,False,True,True,62028,Gregory Ford,3931.0,Lake Jack,10825,98280.0
42701,1981,1,3,2,0,1398,1401,attached,401,0,False,False,True,True,7456,Garcia View,NaN,Lake Jack,10825,98278.0
42702,1980,1,3,2,0,1401,1406,attached,396,0,False,False,True,True,7456,Garcia View,NaN,Lake Jack,10825,186480.0

## How much data
- Aim for 10x more data points than features as a rough rule
- More data is almost always better but not always necessary

## Feature Engineering
- Use features that correlate strongly with output values
- Useless features can harm accuracy
- You can add or drop features
- Can combine multipe features into a single one:
    - Replace multiple unit measurements with one
    - Use binning to replace exact measurements with broader category
- One hot encoding: replace binary factor with two columns: e.g. is_brisbane (0/1) and is_sydney (0/1)
- Cure of dimensionality: As the number of dimensions (features) in the data increase, number of datapoints required to build a good model grows exponentially.

## Engineering Home Prices Dataset
- garage_type has 3 factors that can be modified with one hot encoding
    - Attached
    - None
    - Detached
- Features with True/False values are ok as they will be treated as 1/0s
- House and unit number are probably irrelevant and can drop
- Street name, city and zip code can be useful, but will include redundant information. If we know the zip code, we already know the city. Street name can be useful, but will increase the complexity of the model as we will have a feature for every street in the dataset.

In [96]:
del df['house_number']
del df['unit_number']
del df['street_name']
del df['zip_code']

In [99]:
# Pandas now creates uint8 instead of bool column and gradient boosting algorithm is having trouble with it

features_df = pd.get_dummies(df, columns=['garage_type', 'city'])

# remove y
del features_df['sale_price']

features_df.dtypes

year_built                   int64
stories                      int64
num_bedrooms                 int64
full_bathrooms               int64
half_bathrooms               int64
livable_sqft                 int64
total_sqft                   int64
garage_sqft                  int64
carport_sqft                 int64
has_fireplace                 bool
has_pool                      bool
has_central_heating           bool
has_central_cooling           bool
garage_type_attached         uint8
garage_type_detached         uint8
garage_type_none             uint8
city_Amystad                 uint8
city_Brownport               uint8
city_Chadstad                uint8
city_Clarkberg               uint8
city_Coletown                uint8
city_Davidfort               uint8
city_Davidtown               uint8
city_East Amychester         uint8
city_East Janiceville        uint8
city_East Justin             uint8
city_East Lucas              uint8
city_Fosterberg              uint8
city_Hallfort                uint8
city_Jeffreyhaven            uint8
                             ...
city_Justinport              uint8
city_Lake Carolyn            uint8
city_Lake Christinaport      uint8
city_Lake Dariusborough      uint8
city_Lake Jack               uint8
city_Lake Jennifer           uint8
city_Leahview                uint8
city_Lewishaven              uint8
city_Martinezfort            uint8
city_Morrisport              uint8
city_New Michele             uint8
city_New Robinton            uint8
city_North Erinville         uint8
city_Port Adamtown           uint8
city_Port Andrealand         uint8
city_Port Daniel             uint8
city_Port Jonathanborough    uint8
city_Richardport             uint8
city_Rickytown               uint8
city_Scottberg               uint8
city_South Anthony           uint8
city_South Stevenfurt        uint8
city_Toddshire               uint8
city_Wendybury               uint8
city_West Ann                uint8
city_West Brittanyview       uint8
city_West Gerald             uint8
city_West Gregoryview        uint8
city_West Lydia              uint8
city_West Terrence           uint8
dtype: object

In [100]:
X = features_df.as_matrix()
y = df['sale_price'].as_matrix()

X

array([[1978, 1, 4, ..., 0, 0, 0],
       [1958, 1, 3, ..., 0, 0, 0],
       [2002, 1, 3, ..., 0, 0, 0],
       ...,
       [1983, 1, 1, ..., 0, 0, 0],
       [1981, 1, 3, ..., 0, 0, 0],
       [1980, 1, 3, ..., 0, 0, 0]], dtype=object)

In [101]:
y

array([  270897.,   302404.,  2519996., ...,    98280.,    98278.,
         186480.])

## Shuffle and split data into train/test datasets
- 70% data for training
- 30% data for testing

## GradientBoostingRegressor
- n_estimators: How many decision trees to build, but determins how long it takes
- learning_rate: How much each additional decision tree contributes to the overal prediction
- max_depth: How many layers deep each decision tree can go
- min_samples_leaf: How many times value must appear in dataset before a tree will make a decision based on it. Can prevent outliers influencing model
- max_features: Percentage of features in model we choose to randomly consider when we create a branch in our decision tree
- loss: How error rate is calculated

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

model = ensemble.GradientBoostingRegressor(
    n_estimators=1000,
    learning_rate = 0.1,
    max_depth = 6,
    min_samples_leaf = 9,
    max_features = 0.1,
    loss = 'huber'
)

model.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='huber', max_depth=6,
             max_features=0.1, max_leaf_nodes=None,
             min_impurity_split=1e-07, min_samples_leaf=9,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=1000, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

## Saving and Loading Model
```
joblib.dump(model, 'trained_house_classifier_model.pkl')
model = joblib.load('trained_house_classifier_model.pkl')
```

## Testing accuracy with mean squared error

In [107]:
mse = mean_absolute_error(y_train, model.predict(X_train))
mse

48531.808854775212

In [108]:
mse = mean_absolute_error(y_test, model.predict(X_test))
mse

59006.933054274341

## Overfitting
- Fits training data too much
- Memorises data without learning underlying pattern well enough to generalize
- Models that are too complex overfit: e.g. can create few decision trees, make each one smaller, or prefer simpler ones
- If reducing the complexity of the model doesn't work, we may not have enough data

## Underfitting
- Model is too simple to predict trend
- Make model more complex by making more decision trees more making them each deeper

## Identifying under/overfitting
- Use training and test set error rates
- Overfitting: low error rate training, high error rate testing
- Underfitting: both high error rate with training and testing
- Good fit: low error for both training and testing

## Grid Search
- List out range of settings for each parameter and test them all out to see which gives the best result

In [ ]:
model = ensemble.GradientBoostingRegressor()

param_grid = {
    'n_estimators': [500, 1000, 3000],
    'learning_rate': [4, 6],
    'max_depth': [3, 5, 9, 17],
    'min_samples_leaf': [0.1, 0.05, 0.02, 0.01],
    'max_features': [1.0, 0.3, 0.1],
    'loss': ['ls', 'lad', 'huber']
}

gs_cv = GridSearchCV(model, param_grid, n_jobs=4)
gs_cv.fit(X_train, y_train)

gs_cv.best_params_

## Feature Importance

In [122]:
feature_labels = list(features_df.columns.values)

importance = model.feature_importances_
feature_indexes_by_importance = importance.argsort()

# later occurring features in list are more imporant
for index in feature_indexes_by_importance:
    print('{} - {:.2f}%'.format(feature_labels[index], (importance[index] * 100.0)))

city_Martinezfort - 0.00%
city_Julieberg - 0.00%
city_New Michele - 0.00%
city_New Robinton - 0.00%
city_Davidtown - 0.05%
city_Lake Jennifer - 0.07%
city_Rickytown - 0.07%
city_West Terrence - 0.10%
city_Fosterberg - 0.10%
city_West Brittanyview - 0.11%
city_Amystad - 0.13%
city_East Justin - 0.13%
city_Port Daniel - 0.13%
city_South Stevenfurt - 0.14%
city_Toddshire - 0.16%
city_Leahview - 0.17%
city_Clarkberg - 0.19%
city_Davidfort - 0.19%
city_West Gerald - 0.19%
city_Jenniferberg - 0.20%
city_Joshuafurt - 0.22%
city_Port Adamtown - 0.23%
city_Brownport - 0.24%
city_West Lydia - 0.24%
city_Scottberg - 0.26%
city_Wendybury - 0.29%
city_East Lucas - 0.29%
city_Lake Dariusborough - 0.30%
city_Lake Carolyn - 0.30%
city_East Janiceville - 0.30%
city_Port Jonathanborough - 0.32%
city_West Gregoryview - 0.35%
city_Lake Christinaport - 0.35%
city_Morrisport - 0.37%
city_Richardport - 0.37%
city_East Amychester - 0.37%
city_Hallfort - 0.44%
city_Justinport - 0.46%
city_Jeffreyhaven - 0.54%
city_Lewishaven - 0.63%
city_South Anthony - 0.63%
city_North Erinville - 0.64%
has_central_cooling - 0.65%
city_Port Andrealand - 0.67%
city_Chadstad - 0.74%
has_central_heating - 0.75%
city_West Ann - 0.79%
garage_type_none - 0.93%
garage_type_detached - 0.97%
city_Coletown - 1.14%
garage_type_attached - 1.15%
city_Lake Jack - 1.20%
has_pool - 1.66%
has_fireplace - 1.67%
half_bathrooms - 2.09%
stories - 2.16%
full_bathrooms - 3.49%
carport_sqft - 4.20%
num_bedrooms - 4.86%
year_built - 13.11%
garage_sqft - 13.42%
total_sqft - 16.44%
livable_sqft - 17.65%